body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
}

header {
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav {
    background-color: #1E1E1E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul.tabs li.tab {
    margin: 0;
}

nav ul.tabs li a {
    display: block;
    padding: 14px 20px;
    color: #e0e0e0;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul.tabs li a:hover, nav ul.tabs li a.active {
    background-color: #333333;
    color: #ffffff;
    box-shadow: 0 0 10px #ff5722;
}

main {
    padding: 20px;
}

.news-panel {
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Add space between news items */
}

.news-panel h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.news-item {
    background-color: #282828;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.news-content {
    display: flex;
    align-items: center;
}

.news-text {
    flex: 1;
}

.news-image {
    margin-left: 50px;
}

.news-image img {
    max-width: 450px;
    height: auto;
    border-radius: 10px;
}

.news-item article h3 {
    color: #ff5722;
}

.news-item article p {
    color: #e0e0e0;
}

.news-item article a {
    color: #ff5722;
    text-decoration: none;
}

.news-item article a:hover {
    text-decoration: underline;
}

.news-item .text-section {
    align-self: center;
}

.news-item .text-section h3 {
    color: #ff5722;
}

.news-item .text-section p {
    color: #e0e0e0;
    line-height: 1.6;  
}

.news-item .text-section a {
    color: #ff5722;
    text-decoration: none;
}

.news-item .text-section a:hover {
    text-decoration: underline;
}

.news-item .image-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.news-item .image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.indent {
    display: block;
    padding-left: 20px;  
}

footer {
    background-color: #1E1E1E;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}
